#poptarts svg {
	position: absolute;
      width: 940px;
      height: 7300px;
      top: 0;
      left: 20;
  
    }


    body {
      font-family: 'Hammersmith One', sans-serif;
      color: #444;
    }

    #poptarts {
    	font-family: 'Hammersmith One', sans-serif;
      position: relative;
    }

    .titles {
    	margin: 0 20px;
    }

    .container-fluid {
      width: 940px;
      margin: auto;
    }
    
   

 .header {
      
      margin-top: 10px;
    }
    
    .header svg {
      width: 100%;
      text-align: center;
      height: 260px;
      margin: 20px 0;
    }
    .header h1 {
      font-size: 64px;
      margin-bottom: 0px;
    }

    h2, h4, .credit {
      text-align: center;
    }
    .header .description {
      margin: 20px auto;
      width: 900px;
    }

    .header .description p {
    	font-family: 'Open Sans', sans-serif;
    	text-align: left;
      
    }

    .header a {
    	color: #dd3497;
    	text-decoration: underline;

    }

 .header small {
      text-align: left;
      color: #666;
      font-family: 'Open Sans', sans-serif;
    }


 .scores {
 	font-family: 'Open Sans', sans-serif;
 	padding-top: 5px;
 	font-size: 10px;
 	color: #666;
 	line-height: 1.3;
 	font-weight: bold;
 }

 .title {
 	/*font-family: sans-serif;*/
 	/*font-family: 'Open Sans', sans-serif;*/
  color: #444;
  text-transform: uppercase;
 	font-size: 13px;
 	line-height: 1.1;
 }

 #legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}